.jumbotron {
    color: #fff;
    background-position-y: 10%;
    color: #fff;
    background-color: #800000;
}

.panel-title {
    font-weight: bolder;
    font-size: 25px;
}

div.panel-body {
    color:brgb(19, 15, 15);
}

.btn-primary {
    background-color: #800000;
    border-color: #fff;
    font-weight: bold;
}

